<tr>
  <th><%=t food_type_scorecard.food_type %></th>
  <td><%= food_type_scorecard.servings_consumed %></td>
  <td><%= food_type_scorecard.servings_recomended %></td>
  <td><%= food_type_scorecard.points_earned %></td>
</tr>
